.extraSection {
    margin-top: 20px;
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.extraInner {
    max-width: 1100px;
    margin:  0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.extraSection li {
    line-height: 2.8;
}